.ligne-1{
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-height: 200px;
}
.test-desc{
    text-align: center;
    font-weight: bold;
}

/* style de la section user */

.user-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.user-buttons{
    display: block;
    margin: auto;
    border-top: 25px;
}

/* style des branches */
.branche{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.branche div *{
    color: white;
    text-align: center;
}

.branche-slogan{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.branche-nom{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}