.branche{
    display: grid;
    grid-template-columns: 1fr 2fr;
    min-height: 200px;
}

.branche-description{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.ligne-1{
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-height: 200px;
}
.test-desc{
    text-align: center;
    font-weight: bold;

}