body 
{
    background: url(../images/bg.png);
}
.site
{
    font-family: 'Holtwood One SC', sans-serif;
}
.text-title
{
    font-family: 'Courier', sans-serif;
    color: #ffffff;
    font-style: italic;
    font-size: 100px;
    letter-spacing: 5px;
    padding: 40px 0px;
}
.text-title2
{
    font-family: 'Courier', sans-serif;
    font-size: 50px;
    color: #ffa500;
    background-color: black;
}
.text-slogan
{
    font-family: 'Courier', sans-serif;
    font-size: 50px;
    color: black;
    align-content: center;
}
.text
{
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    background-color: white;
}
.footer-text
{
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.primary-color
{
    color: #3d60db;
}
.secondary-color
{
    color: #ffa500;
}
.tertiary-color
{
    color: #ffffff;
}

.col-sm-6{
    background-color: white;
}

.site
{
    font-family: 'Arial', sans-serif;
    background-color: gray;
}

.container{
    width: 100%;
    padding: 10px;
}





/* mise en forme pour la barre navigateur*/
nav{
    background: #fff;
    border: 1px solid rgb(156, 156, 156);
    border-bottom-width: 10px;
}
.ul-nav{
    display: inline-block;
}
.li-nav{
    font-family: Courier;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 3px;
    display: inline-block;
    text-align: center;
    padding: 40px;
    text-transform: uppercase;
    transition: color 0.5s, background-color 0.5s, transform 0.5s;
}
li .underline{
    height: 4px;
    margin-top: 10px;
}
li:hover{
    background-color: rgb(156, 156, 156);
    border-radius: 5px;
    color: #ffa500;
    transform: scale(1.05);
}
li:hover .underline{
    background-color: #ffa500;
    height: 3px;
}

/* display options */
.inline-block
{
    display: inline-block;
}
.block
{
    display: block;
}

/* mise en forme pour la communication*/
footer{
    background: #fff;
    border: 1px solid rgb(156, 156, 156);
    border-bottom-width: 10px;
}