.site
{
    font-family: 'Holtwood One SC', sans-serif;
}
.text-title
{
    font-family: 'Courier', sans-serif;
    font-size: 36px;
    padding: 40px 0px;
    text-align: center;
}
.text-title2
{
    font-family: 'Courier', sans-serif;
    font-size: 24px;
}
.text
{
    font-family: 'Arial', sans-serif;
    font-size: 11px;
}
.footer-text
{
    font-family: 'Arial', sans-serif;
    font-size: 11px;
    font-weight: bold;
}
.primary-color
{
    color: #3d60db;
}
.secondary-color
{
    color: #ffa500;
}
.tertiary-color
{
    color: #ffffff;
}