<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="../css/styleConnexion.css">
</head>
<body class="register">
    <div class="logreg-box">
    <div class="content-connexion login">
        <form action="actions/connexion.php" method="POST">
            <div class="bodI">
                <h3>login</h3>
                <input type="text" name="UtilisateurEmail" placeholder="E-mail" id="" class="in-med" ><br><br>
                
                <input type="password" name="UtilisateurHash" placeholder="password" id="" class="in-med"><br><br>
                <input type="submit" value="se connecter" name="connexion" class="btn" ><br>
              <sub>  Vous êtes nouveau? <a href="index.php?page=inscription" class="register-link">enregistrez-vous!</a></sub>
                <sub><a href="index.php" class="index.php">Je souhaite revenir à l'accueil.</a></sub>
            </div>
        
    </form>    
     </div>    
     <script src="javas.js"></script>
</body>
</html>
