
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="css/styleConnexion.css">
</head>
<body class="register">
    <div class="logreg-box">
    <div class="content-connexion login">
        <form action="actions/inscription.php" method="POST">
            <div class="bodI">
                <h3>login</h3>
                <input type="text" name="UtilisateurEmail" placeholder="E-mail" id="" class="in-med" ><br><br>

                <input type="text" name="UtilisateurUsername" placeholder="Username" id="" class="in-med" ><br><br>
                
                <input type="password" name="UtilisateurHash" placeholder="password" id="" class="in-med"><br><br>
                <input type="password" name="confirmpass" placeholder="confirm password" id="" class="in-med"><br><br>
                <input type="submit" value="je m'inscrit" name="inscription" class="btn" ><br>
                <sub>  Etes-vous utilisateur?  <a href="index.php?page=connexion" class="register-link">Connectez-vous!</a></sub>
                <sub><a href="index.php" class="bt">Je souhaite revenir à l'accueil.</a></sub>
            </div>
        
    </form>
     </div>
     <script src="javas.js"></script>
</body>
</html>
